:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttonCorrect {
  background-color: green;
}

.buttonCorrectBorder {
  border: 2px solid #000;
  animation: borderFlash 0.5s;
}

@keyframes borderFlash {
  0% {
    border-color: #000;
  }
  20% {
    border-color: #ffffff; 
  }
  40% {
    border-color: #000;
  }
  60% {
    border-color: #ffffff; 
  }
  80% {
    border-color: #000;
  }
  100% {
    border-color: #ffffff;
  }
}

.buttonIncorrect {
  background-color: red;
}